main {
    padding-top: 2rem;
}

/* Dropbox */
#dropbox {
    border: 3px dashed #d0d0d0;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    margin-bottom: 2rem;
}
#dropbox:active, #dropbox.over {
    border: 3px dashed lightblue;
    background: #eee;
}

#dropbox h3 {
    margin: 10px 0;
}

#dropbox div {
    padding: 5em 2em;
    text-align: center;
}

#dropbox .fileDialog {
    display: none;
}


/* */
#items {
    margin-left: 0;
    padding-left: 0;
}
#items li {
    list-style: none;
    cursor: move;
    padding: 10px 20px;
    border: 1px solid black;
    margin-top: -1px;
}
#items li.sortable-chosen {
    background-color: lightblue;
}
#items li.sortable-ghost {
    opacity: 0.4;
}

iframe {
    border: 1px solid black;
    height: 100%;
}

#preview {
    width: 100%;
}